<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="SETTINGS">
		<setting label="[COLOR gold]SERVER 0[/COLOR]" type="bool" id="server_0" default="true"/>
		<setting label="[COLOR gold]SERVER 1[/COLOR]" type="bool" id="server_1" default="true"/>
		<setting label="[COLOR gold]SERVER 2[/COLOR]" type="bool" id="server_2" default="true"/>
		<setting type="sep"/>
		<setting label="[COLOR lime]M3U8 CACHE LOADER[/COLOR]" type="bool" id="cache_loader" default="false"/>
		<setting type="sep"/>
		<setting label="[COLOR gold]SET LIST VIEW MODE NR.[/COLOR]" type="number" id="list_view_mode" default="0"/>
		<setting label="[COLOR gold]SET INFO VIEW MODE NR.[/COLOR]" type="number" id="info_view_mode" default="0"/>
	</category>
</settings>