<settings version="2">
    <setting id="agent_refresh_time" default="true"></setting>
    <setting id="database.version" default="true">1</setting>
    <setting id="database_init" default="true">false</setting>
    <setting id="database_version">1</setting>
    <setting id="enable_updates" default="true">false</setting>
    <setting id="install_optional" default="true">false</setting>
    <setting id="label0" default="true"></setting>
    <setting id="label1" default="true"></setting>
    <setting id="label2" default="true"></setting>
    <setting id="label3" default="true"></setting>
    <setting id="label4" default="true"></setting>
    <setting id="last_about">5</setting>
    <setting id="prompt_optional" default="true">false</setting>
    <setting id="source_github" default="true">false</setting>
    <setting id="source_tva">true</setting>
    <setting id="source_user">true</setting>
    <setting id="user_agent" default="true"></setting>
</settings>
