<settings version="2">
    <setting id="1und1DE_channel_format" default="true">rytec</setting>
    <setting id="1und1DE_days_to_grab" default="true">1</setting>
    <setting id="1und1DE_episode_format" default="true">xmltv_ns</setting>
    <setting id="1und1DE_genre_format" default="true">eit</setting>
    <setting id="1und1DE_password" default="true"></setting>
    <setting id="1und1DE_username" default="true"></setting>
    <setting id="auto_download">true</setting>
    <setting id="bbvDE_channel_format" default="true">rytec</setting>
    <setting id="bbvDE_days_to_grab" default="true">1</setting>
    <setting id="bbvDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="bbvDE_genre_format" default="true">eit</setting>
    <setting id="bbvDE_password" default="true"></setting>
    <setting id="bbvDE_username" default="true"></setting>
    <setting id="download_threads" default="true">2</setting>
    <setting id="eirIE_channel_format" default="true">rytec</setting>
    <setting id="eirIE_days_to_grab" default="true">1</setting>
    <setting id="eirIE_episode_format" default="true">xmltv_ns</setting>
    <setting id="eirIE_genre_format" default="true">eit</setting>
    <setting id="eirIE_password" default="true"></setting>
    <setting id="eirIE_username" default="true"></setting>
    <setting id="enable_grabber_1und1DE" default="true">false</setting>
    <setting id="enable_grabber_bbvDE" default="true">false</setting>
    <setting id="enable_grabber_eirIE" default="true">false</setting>
    <setting id="enable_grabber_eweDE" default="true">false</setting>
    <setting id="enable_grabber_gvisCH" default="true">false</setting>
    <setting id="enable_grabber_hznAT" default="true">false</setting>
    <setting id="enable_grabber_hznCH" default="true">false</setting>
    <setting id="enable_grabber_hznCZ" default="true">false</setting>
    <setting id="enable_grabber_hznDE">true</setting>
    <setting id="enable_grabber_hznGB" default="true">false</setting>
    <setting id="enable_grabber_hznHU" default="true">false</setting>
    <setting id="enable_grabber_hznIE" default="true">false</setting>
    <setting id="enable_grabber_hznNL" default="true">false</setting>
    <setting id="enable_grabber_hznPL" default="true">false</setting>
    <setting id="enable_grabber_hznRO" default="true">false</setting>
    <setting id="enable_grabber_hznSK" default="true">false</setting>
    <setting id="enable_grabber_magentaDE" default="true">false</setting>
    <setting id="enable_grabber_mnetDE" default="true">false</setting>
    <setting id="enable_grabber_mweltAT" default="true">false</setting>
    <setting id="enable_grabber_myvisCH" default="true">false</setting>
    <setting id="enable_grabber_nettvDE" default="true">false</setting>
    <setting id="enable_grabber_qlCH" default="true">false</setting>
    <setting id="enable_grabber_qttvCH" default="true">false</setting>
    <setting id="enable_grabber_sakCH" default="true">false</setting>
    <setting id="enable_grabber_saltCH" default="true">false</setting>
    <setting id="enable_grabber_swbDE" default="true">false</setting>
    <setting id="enable_grabber_swcCH" default="true">false</setting>
    <setting id="enable_grabber_tvsDE" default="true">false</setting>
    <setting id="enable_grabber_vtxCH" default="true">false</setting>
    <setting id="enable_grabber_walyCH" default="true">false</setting>
    <setting id="enable_grabber_zttCH" default="true">false</setting>
    <setting id="enable_grabber_zttDE" default="true">false</setting>
    <setting id="enable_multithread" default="true">false</setting>
    <setting id="enable_rating_mapper">true</setting>
    <setting id="eweDE_channel_format" default="true">rytec</setting>
    <setting id="eweDE_days_to_grab" default="true">1</setting>
    <setting id="eweDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="eweDE_genre_format" default="true">eit</setting>
    <setting id="eweDE_password" default="true"></setting>
    <setting id="eweDE_username" default="true"></setting>
    <setting id="gvisCH_channel_format" default="true">rytec</setting>
    <setting id="gvisCH_days_to_grab" default="true">1</setting>
    <setting id="gvisCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="gvisCH_genre_format" default="true">eit</setting>
    <setting id="gvisCH_password" default="true"></setting>
    <setting id="gvisCH_username" default="true"></setting>
    <setting id="hznAT_channel_format" default="true">rytec</setting>
    <setting id="hznAT_days_to_grab" default="true">1</setting>
    <setting id="hznAT_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznAT_genre_format" default="true">eit</setting>
    <setting id="hznCH_channel_format" default="true">rytec</setting>
    <setting id="hznCH_days_to_grab" default="true">1</setting>
    <setting id="hznCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznCH_genre_format" default="true">eit</setting>
    <setting id="hznCZ_channel_format" default="true">rytec</setting>
    <setting id="hznCZ_days_to_grab" default="true">1</setting>
    <setting id="hznCZ_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznCZ_genre_format" default="true">eit</setting>
    <setting id="hznDE_channel_format" default="true">rytec</setting>
    <setting id="hznDE_days_to_grab" default="true">1</setting>
    <setting id="hznDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznDE_genre_format" default="true">eit</setting>
    <setting id="hznGB_channel_format" default="true">rytec</setting>
    <setting id="hznGB_days_to_grab" default="true">1</setting>
    <setting id="hznGB_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznGB_genre_format" default="true">eit</setting>
    <setting id="hznHU_channel_format" default="true">rytec</setting>
    <setting id="hznHU_days_to_grab" default="true">1</setting>
    <setting id="hznHU_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznHU_genre_format" default="true">eit</setting>
    <setting id="hznIE_channel_format" default="true">rytec</setting>
    <setting id="hznIE_days_to_grab" default="true">1</setting>
    <setting id="hznIE_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznIE_genre_format" default="true">eit</setting>
    <setting id="hznNL_channel_format" default="true">rytec</setting>
    <setting id="hznNL_days_to_grab" default="true">1</setting>
    <setting id="hznNL_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznNL_genre_format" default="true">eit</setting>
    <setting id="hznPL_channel_format" default="true">rytec</setting>
    <setting id="hznPL_days_to_grab" default="true">1</setting>
    <setting id="hznPL_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznPL_genre_format" default="true">eit</setting>
    <setting id="hznRO_channel_format" default="true">rytec</setting>
    <setting id="hznRO_days_to_grab" default="true">1</setting>
    <setting id="hznRO_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznRO_genre_format" default="true">eit</setting>
    <setting id="hznSK_channel_format" default="true">rytec</setting>
    <setting id="hznSK_days_to_grab" default="true">1</setting>
    <setting id="hznSK_episode_format" default="true">xmltv_ns</setting>
    <setting id="hznSK_genre_format" default="true">eit</setting>
    <setting id="magentaDE_channel_format" default="true">rytec</setting>
    <setting id="magentaDE_days_to_grab" default="true">1</setting>
    <setting id="magentaDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="magentaDE_genre_format" default="true">eit</setting>
    <setting id="manual_download" default="true"></setting>
    <setting id="mnetDE_channel_format" default="true">rytec</setting>
    <setting id="mnetDE_days_to_grab" default="true">1</setting>
    <setting id="mnetDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="mnetDE_genre_format" default="true">eit</setting>
    <setting id="mnetDE_password" default="true"></setting>
    <setting id="mnetDE_username" default="true"></setting>
    <setting id="mweltAT_channel_format" default="true">rytec</setting>
    <setting id="mweltAT_days_to_grab" default="true">1</setting>
    <setting id="mweltAT_episode_format" default="true">xmltv_ns</setting>
    <setting id="mweltAT_genre_format" default="true">eit</setting>
    <setting id="mweltAT_password" default="true"></setting>
    <setting id="mweltAT_username" default="true"></setting>
    <setting id="myvisCH_channel_format" default="true">rytec</setting>
    <setting id="myvisCH_days_to_grab" default="true">1</setting>
    <setting id="myvisCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="myvisCH_genre_format" default="true">eit</setting>
    <setting id="myvisCH_password" default="true"></setting>
    <setting id="myvisCH_username" default="true"></setting>
    <setting id="nettvDE_channel_format" default="true">rytec</setting>
    <setting id="nettvDE_days_to_grab" default="true">1</setting>
    <setting id="nettvDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="nettvDE_genre_format" default="true">eit</setting>
    <setting id="nettvDE_password" default="true"></setting>
    <setting id="nettvDE_username" default="true"></setting>
    <setting id="qlCH_channel_format" default="true">rytec</setting>
    <setting id="qlCH_days_to_grab" default="true">1</setting>
    <setting id="qlCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="qlCH_genre_format" default="true">eit</setting>
    <setting id="qlCH_password" default="true"></setting>
    <setting id="qlCH_username" default="true"></setting>
    <setting id="qttvCH_channel_format" default="true">rytec</setting>
    <setting id="qttvCH_days_to_grab" default="true">1</setting>
    <setting id="qttvCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="qttvCH_genre_format" default="true">eit</setting>
    <setting id="qttvCH_password" default="true"></setting>
    <setting id="qttvCH_username" default="true"></setting>
    <setting id="sakCH_channel_format" default="true">rytec</setting>
    <setting id="sakCH_days_to_grab" default="true">1</setting>
    <setting id="sakCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="sakCH_genre_format" default="true">eit</setting>
    <setting id="sakCH_password" default="true"></setting>
    <setting id="sakCH_username" default="true"></setting>
    <setting id="saltCH_channel_format" default="true">rytec</setting>
    <setting id="saltCH_days_to_grab" default="true">1</setting>
    <setting id="saltCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="saltCH_genre_format" default="true">eit</setting>
    <setting id="saltCH_password" default="true"></setting>
    <setting id="saltCH_username" default="true"></setting>
    <setting id="select_channels_1und1DE" default="true"></setting>
    <setting id="select_channels_bbvDE" default="true"></setting>
    <setting id="select_channels_eirIE" default="true"></setting>
    <setting id="select_channels_eweDE" default="true"></setting>
    <setting id="select_channels_gvisCH" default="true"></setting>
    <setting id="select_channels_hznAT" default="true"></setting>
    <setting id="select_channels_hznCH" default="true"></setting>
    <setting id="select_channels_hznCZ" default="true"></setting>
    <setting id="select_channels_hznDE" default="true"></setting>
    <setting id="select_channels_hznGB" default="true"></setting>
    <setting id="select_channels_hznHU" default="true"></setting>
    <setting id="select_channels_hznIE" default="true"></setting>
    <setting id="select_channels_hznNL" default="true"></setting>
    <setting id="select_channels_hznPL" default="true"></setting>
    <setting id="select_channels_hznRO" default="true"></setting>
    <setting id="select_channels_hznSK" default="true"></setting>
    <setting id="select_channels_magentaDE" default="true"></setting>
    <setting id="select_channels_mnetDE" default="true"></setting>
    <setting id="select_channels_mweltAT" default="true"></setting>
    <setting id="select_channels_myvisCH" default="true"></setting>
    <setting id="select_channels_nettvDE" default="true"></setting>
    <setting id="select_channels_qlCH" default="true"></setting>
    <setting id="select_channels_qttvCH" default="true"></setting>
    <setting id="select_channels_sakCH" default="true"></setting>
    <setting id="select_channels_saltCH" default="true"></setting>
    <setting id="select_channels_swbDE" default="true"></setting>
    <setting id="select_channels_swcCH" default="true"></setting>
    <setting id="select_channels_tvsDE" default="true"></setting>
    <setting id="select_channels_vtxCH" default="true"></setting>
    <setting id="select_channels_walyCH" default="true"></setting>
    <setting id="select_channels_zttCH" default="true"></setting>
    <setting id="select_channels_zttDE" default="true"></setting>
    <setting id="storage_path">/storage/.kodi/userdata/playlists/video/EPG/</setting>
    <setting id="swbDE_channel_format" default="true">rytec</setting>
    <setting id="swbDE_days_to_grab" default="true">1</setting>
    <setting id="swbDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="swbDE_genre_format" default="true">eit</setting>
    <setting id="swbDE_password" default="true"></setting>
    <setting id="swbDE_username" default="true"></setting>
    <setting id="swcCH_channel_format" default="true">rytec</setting>
    <setting id="swcCH_days_to_grab" default="true">1</setting>
    <setting id="swcCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="swcCH_genre_format" default="true">eit</setting>
    <setting id="timeswitch_1">20</setting>
    <setting id="timeswitch_2">20</setting>
    <setting id="timeswitch_3">20</setting>
    <setting id="tvh_local_sock" default="true"></setting>
    <setting id="tvsDE_channel_format" default="true">rytec</setting>
    <setting id="tvsDE_days_to_grab" default="true">1</setting>
    <setting id="tvsDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="tvsDE_genre_format" default="true">eit</setting>
    <setting id="use_local_sock" default="true">false</setting>
    <setting id="vtxCH_channel_format" default="true">rytec</setting>
    <setting id="vtxCH_days_to_grab" default="true">1</setting>
    <setting id="vtxCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="vtxCH_genre_format" default="true">eit</setting>
    <setting id="vtxCH_password" default="true"></setting>
    <setting id="vtxCH_username" default="true"></setting>
    <setting id="walyCH_channel_format" default="true">rytec</setting>
    <setting id="walyCH_days_to_grab" default="true">1</setting>
    <setting id="walyCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="walyCH_genre_format" default="true">eit</setting>
    <setting id="walyCH_password" default="true"></setting>
    <setting id="walyCH_username" default="true"></setting>
    <setting id="write_to_sock" default="true"></setting>
    <setting id="zttCH_channel_format" default="true">rytec</setting>
    <setting id="zttCH_days_to_grab" default="true">1</setting>
    <setting id="zttCH_episode_format" default="true">xmltv_ns</setting>
    <setting id="zttCH_genre_format" default="true">eit</setting>
    <setting id="zttCH_password" default="true"></setting>
    <setting id="zttCH_username" default="true"></setting>
    <setting id="zttDE_channel_format" default="true">rytec</setting>
    <setting id="zttDE_days_to_grab" default="true">1</setting>
    <setting id="zttDE_episode_format" default="true">xmltv_ns</setting>
    <setting id="zttDE_genre_format" default="true">eit</setting>
    <setting id="zttDE_password" default="true"></setting>
    <setting id="zttDE_username" default="true"></setting>
</settings>
