<settings version="2">
    <setting id="android_id36">k3o7w6nqv1e6s2l3</setting>
    <setting id="cache_time">8</setting>
    <setting id="data_time36">1598444177</setting>
    <setting id="device_id36">f3e5f6cc-fb4a-438b-acfe-4e24581b8cf1</setting>
    <setting id="inputstream" default="true">false</setting>
    <setting id="live_data_time36">1598452530</setting>
    <setting id="user_id36">466f6c60f34dcd8d40abfe76168f97eb</setting>
    <setting id="vod_data_time36">1581010555</setting>
</settings>
