<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30230" type="lsep"/>
		<setting label="30110" type="text" id="pers_apiKey" default="AIzaSy................................."/>
		<setting type="sep"/>
		<setting label="30231" type="lsep"/>
		<setting label="30350" type="text" id="zz_dummy_01" default=""/>
		<setting label="30351" type="text" id="zz_dummy_02" default=""/>
	</category>
	<category label="30001">
		<setting label="30111" type="text" id="blacklist" default=""/>
		<setting type="sep"/>
		<setting label="30232" type="lsep"/>
		<setting label="30112" type="slider" id="cache_rhythm" default="12" range="8,4,72" option="int"/>
		<setting label="30113" type="action" id="zz_dummy_03" option="close" action="RunPlugin(plugin://plugin.video.spotitube/?mode=trashCache)"/>
		<setting type="sep"/>
		<setting label="30233" type="lsep"/>
		<setting label="30114" type="bool" id="showInfo" default="true"/>
		<setting label="30115" type="enum" id="infoType" enable="eq(-1,true)" values="VideoOSD|Notification" default="1"/>
		<setting label="30116" type="number" id="infoDelay" enable="eq(-2,true)" default="12"/>
		<setting label="30117" type="number" id="infoDuration" enable="eq(-3,true)" default="12"/>
		<setting type="sep"/>
		<setting label="30234" type="lsep"/>
		<setting label="30118" type="bool" id="useThumbAsFanart" default="true"/>
		<setting type="sep"/>
		<setting label="30235" type="lsep"/>
		<setting label="30119" type="bool" id="show_settings" default="true"/>
	</category>
	<category label="30002">
		<setting label="30236" type="lsep"/>
		<setting label="30120" type="slider" id="deezerSearch_count" default="50" range="20,5,100" option="int"/>
		<setting label="30121" type="slider" id="deezerVideos_count" default="50" range="20,5,100" option="int"/>
		<setting type="sep"/>
		<setting label="30237" type="lsep"/>
		<setting label="30352" type="text" id="zz_dummy_04" default=""/>
	</category>
	<category label="30003">
		<setting label="30238" type="lsep"/>
		<setting label="30122" type="bool" id="itunesShowSubGenres" default="true"/>
		<setting label="30123" type="bool" id="itunesForceCountry" default="false"/>
		<setting label="30124" type="text" id="itunesCountry" enable="eq(-1,true)" default=""/>
	</category>
	<category label="30004">
		<setting label="30239" type="lsep"/>
		<setting label="30125" type="bool" id="forceView" default="false"/>
		<setting label="30126" type="number" id="viewIDGenres" enable="eq(-1,true)" default="500" subsetting="true"/>
		<setting label="30127" type="number" id="viewIDPlaylists" enable="eq(-2,true)" default="500" subsetting="true"/>
		<setting label="30128" type="number" id="viewIDVideos" enable="eq(-3,true)" default="500" subsetting="true"/>
	</category>
</settings>
